.projects {
    padding: 60px 0px;
    background: #002737;
}

.prseparator{
    background: #CAF0F8;
    height: 3px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.projectbox{
    margin-left: 5%;
    margin-right: 5%;
}

.projects h2 {
    font-size: 72px;
    margin-bottom: 20px;
    text-align: left;
    color: #fff
}

.project {
    background: #002737;
    width: 300px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.projects h3{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
    color: #fff
}

.atag:hover{
    color: #00A4B4;
}