.research {
    padding: 60px 0px;
    background: #002737;
}

.resseparator{
    background: #CAF0F8;
    height: 3px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.research h2 {
    font-size: 72px;
    margin-bottom: 20px;
    text-align: left;
    color: #fff
}

.research h3{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
    color: #fff
}

.researchbox{
    margin-left: 5%;
    margin-right: 5%;
}

.research-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.research-item {
    background: #fff;
    width: 300px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.research-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.research-item p {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.research-item a {
    text-decoration: none;
    color: #0073e6;
    font-weight: bold;
}

.research-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

/* Responsive Research */
@media (max-width: 768px) {
    .research-list {
        flex-direction: column;
        align-items: center;
    }
}
