.resume {
    padding: 60px 0px;
    background: #002737;
}

.reseparator{
    background: #CAF0F8;
    height: 3px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.resume h2 {
    font-size: 72px;
    margin-bottom: 20px;
    text-align: left;
    color: #fff
}

.resume h3{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: left;
    color: #fff
}

.resumebox{
    margin-left: 5%;
    margin-right: 5%;
}

.resume p {
    font-size: 18px;
    color: #fff;
    margin-bottom: 20px;
}
